# Core functionality - changes here should be rare!
/src/app.py                   @rogerliaogz
/src/backend/database.py      @rogerliaogz
/src/backend/routers/auth.py  @rogerliaogz

# The frontend will need refactored soon to be more object oriented.
/src/static/   @rogerliaogz
